button.primary.theme-syncrona-pink {
    border-color: #732648;
    background-color: #CF3076;
    color: #FEF5F9;
  }
  
  button.secondary.theme-syncrona-pink {
    border-color: #D95991;
    background-color: #EA7BAC;
    color: #FEF5F9;
  }