button.primary.theme-syncrona-yellow {
    border-color: #D89027;
    background-color: #EDAA45;
    color: #211C1E;
  }
  
  button.secondary.theme-syncrona-yellow {
    border-color: #F9C06C;
    background-color: #FBD59D;
    color: #756169;
  }
  