button.primary.theme-syncrona-orange {
    border-color: #AF4A2C;
    background-color: #DA5933;
    color: #FEF5F9;
  }
  
  button.secondary.theme-syncrona-orange {
    border-color: #AF4A2C;
    background-color: #DA5933;
    color: #FEF5F9;
  }