@import "../.../../../../../colors.scss";

button.primary.theme-syncrona-yellow {
  border-color: #d89027;
  background-color: $Syncrona-yellow;
  color: #211c1e;
}

button.secondary.theme-syncrona-yellow {
  border-color: #f9c06c;
  background-color: $Syncrona-yellow-lighter;
  color: #756169;
}
button.primary.theme-syncrona-yellow:active {
  border-color: $Syncrona-yellow-darker;
  border-width: thin;
}
button.primary.theme-syncrona-yellow:hover {
  box-shadow: 0px 4px 10px 0px rgba(165, 106, 39, 0.206);
}