@import "../../../../colors.scss";

.task.theme-syncrona-pink {
  border-color: $Syncrona-pink;
}

svg.theme-syncrona-pink path{
  fill: $Syncrona-pink;
}

.droppable.task-draggable.theme-syncrona-pink:hover {
  background-color: $Syncrona-pink-dark;
  border-radius: 15px;
}