@import "../../../../colors.scss";

.task.theme-syncrona-yellow {
  border-color: $Syncrona-yellow;
}

svg.theme-syncrona-yellow path{
  fill: $Syncrona-yellow;
}

.droppable.task-draggable.theme-syncrona-yellow:hover {
  background-color: $Syncrona-yellow-dark;
  border-radius: 15px;
}
