$colors : (
    Syncrona-info:#90BEDE,
    Syncrona-info-light: #B5D1E5,
    Syncrona-info-lighter:#D8E7F1,
    Syncrona-info-dark:#5D9AC5,
    Syncrona-info-darker:#2D6F9D,
    Syncrona-error:#D72A0E,
    Syncrona-error-light:#F14428,
    Syncrona-error-lighter:#F46D57,
    Syncrona-error-dark:#A8210B,
    Syncrona-error-darker:#781708,
    Syncrona-warning:#F2E641,
    Syncrona-warning-light:#F6EE7E,
    Syncrona-warning-lighter:#FCF7B0,
    Syncrona-warning-dark:#E1CC0E,
    Syncrona-warning-darker:#BB9306,
    Syncrona-success:#CAE7B9,
    Syncrona-success-light:#DFF5D3,
    Syncrona-success-lighter:#EBF4E6,
    Syncrona-success-dark:#A0C38B,
    Syncrona-success-darker:#71975B,
    Syncrona-pink:#CF3076,
    Syncrona-pink-light:#E34F90,
    Syncrona-pink-lighter:#EA7BAC,
    Syncrona-pink-dark:#732648,
    Syncrona-pink-darker:#4C1A30,
    Syncrona-Orange:#DA5933,
    Syncrona-Orange-Light:#EA7857,
    Syncrona-Orange-Lighter:#F09C85,
    Syncrona-Orange-Dark:#AF4A2C,
    Syncrona-Orange-Darker:#853523,
    Syncrona-yellow:#EDAA45,
    Syncrona-yellow-light:#F9C06C,
    Syncrona-yellow-lighter:#FBD59D,
    Syncrona-yellow-dark:#D89027,
    Syncrona-yellow-darker:#A56B27,
    Syncrona-white: #FEF5F9,
    Syncrona-white-light:#FFFFFF,
    Syncrona-white-lighter:#FFFFFF,
    Syncrona-white-dark:#EAD4DE,
    Syncrona-white-darker:#CDBAC3,
    Syncrona-gray1: #9C9699,
    Syncrona-gray1-light: #B5B0B2,
    Syncrona-gray1-lighter:#CECACC,
    Syncrona-gray1-dark:#837C80,
    Syncrona-gray1-darker:#696366,
    Syncrona-gray2: #7A6C73,
    Syncrona-gray2-light: #93858C,
    Syncrona-gray2-lighter:#ABA0A6,
    Syncrona-gray2-dark:#5F5459,
    Syncrona-gray2-darker:#443C40,
    Syncrona-gray3: #6A5C62,
    Syncrona-gray3-light: #86747C,
    Syncrona-gray3-lighter:#9E8F95,
    Syncrona-gray3-dark:#52474C,
    Syncrona-gray3-darker:#372F32,
    Syncrona-black:#5A4B51,
    Syncrona-black-light:#756169,
    Syncrona-black-lighter:#907982,
    Syncrona-black-dark:#3D3337,
    Syncrona-black-darker:#211C1E,

)
    


