$Syncrona-info: #90bede;
$Syncrona-info-light: #b5d1e5;
$Syncrona-info-lighter: #d8e7f1;
$Syncrona-info-dark: #5d9ac5;
$Syncrona-info-darker: #2d6f9d;
$Syncrona-error: #d72a0e;
$Syncrona-error-light: #f14428;
$Syncrona-error-lighter: #f46d57;
$Syncrona-error-dark: #a8210b;
$Syncrona-error-darker: #781708;
$Syncrona-warning: #f2e641;
$Syncrona-warning-light: #f6ee7e;
$Syncrona-warning-lighter: #fcf7b0;
$Syncrona-warning-dark: #e1cc0e;
$Syncrona-warning-darker: #bb9306;
$Syncrona-success: #cae7b9;
$Syncrona-success-light: #dff5d3;
$Syncrona-success-lighter: #ebf4e6;
$Syncrona-success-dark: #a0c38b;
$Syncrona-success-darker: #71975b;
$Syncrona-pink: #cf3076;
$Syncrona-pink-light: #e34f90;
$Syncrona-pink-lighter: #ea7bac;
$Syncrona-pink-dark: #732648;
$Syncrona-pink-darker: #4c1a30;
$Syncrona-Orange: #da5933;
$Syncrona-Orange-Light: #ea7857;
$Syncrona-Orange-Lighter: #f09c85;
$Syncrona-Orange-Dark: #af4a2c;
$Syncrona-Orange-Darker: #853523;
$Syncrona-yellow: #edaa45;
$Syncrona-yellow-light: #f9c06c;
$Syncrona-yellow-lighter: #fbd59d;
$Syncrona-yellow-dark: #d89027;
$Syncrona-yellow-darker: #a56b27;
$Syncrona-white: #fef5f9;
$Syncrona-white-light: #ffffff;
$Syncrona-white-lighter: #ffffff;
$Syncrona-white-dark: #ead4de;
$Syncrona-white-darker: #cdbac3;
$Syncrona-gray1: #9c9699;
$Syncrona-gray1-light: #b5b0b2;
$Syncrona-gray1-lighter: #cecacc;
$Syncrona-gray1-dark: #837c80;
$Syncrona-gray1-darker: #696366;
$Syncrona-gray2: #7a6c73;
$Syncrona-gray2-light: #93858c;
$Syncrona-gray2-lighter: #aba0;
$Syncrona-black: #5a4b51;
$Syncrona-black-light: #756169;
$Syncrona-black-lighter: #907982;
$Syncrona-black-dark: #3d3337;
$Syncrona-black-darker: #211c1e;
