@import "./colors.scss";

html {
  font-size: 16px;
  overflow: hidden;
  margin-left: 0;
  padding: 0px;
}

body {
  margin: 0px;
}

@media (max-width: 1000px) and (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

/* Para pantallas de 767px o menos */
@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}
//Main Login//
.bg__login {
  background-color: $Syncrona-pink-lighter;
  border-radius: 20px;
  padding: 1.25rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.login__button {
  background-color: $Syncrona-pink;
  border-radius: 15px;
  color: $Syncrona-white;
  font-size: 1.25rem;
  margin-left: 10%;
}

.login__input__tittle {
  font-size: 1.5rem;
  color: $Syncrona-white;
  margin-left: 10%;
  font-weight: bold;
}

.bg__input {
  width: 80%;
  height: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.login__tittle {
  color: $Syncrona-black;
  font-size: 2rem;
}
//UTILITIES//

.width {
  width: 100%;
}

.margin0P {
  margin: 0px;
}

.margin__center {
  margin-left: 30%;
  margin-right: 30%;
}

.align__center {
  align-items: center;
}

.color__syncrona--white {
  color: $Syncrona-white;
}

.color__synrcona--black {
  color: $Syncrona-black-darker;
}

.flex__column {
  display: flex;
  flex-direction: column;
}

.angled-gradient {
  background: rgb(253, 237, 244);
  background: linear-gradient(
    170deg,
    rgba(253, 237, 244, 1) 46%,
    rgba(234, 123, 172, 1) 46%,
    rgba(249, 192, 108, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.overflow__hidden {
  overflow: hidden;
}
