@import "../scss/colors.scss";

.recover__dimensions {
  border-radius: 20px;
  padding: 1.25rem;
  width: 37.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color: $Syncrona-pink-lighter;
}
