@import "./colors.scss";

.livvic-thin {
  font-family: "Livvic", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.livvic-extralight {
  font-family: "Livvic", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.livvic-light {
  font-family: "Livvic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.livvic-regular {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.livvic-medium {
  font-family: "Livvic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.livvic-semibold {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.livvic-bold {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.livvic-black {
  font-family: "Livvic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.livvic-thin-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.livvic-extralight-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.livvic-light-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.livvic-regular-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.livvic-medium-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.livvic-semibold-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.livvic-bold-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.livvic-black-italic {
  font-family: "Livvic", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.patrick-hand sc-regular {
  font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
}

// List Parts//

.List__Container {
  min-width: 300px;
  max-width: 30%;
}

.List {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: $Syncrona-white;
}

.List__Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.List__Card {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.List__AddCard {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
}

.List__NewCard {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
  width: 90%;
}

.List__AddCard > div {
  width: 100%;
  height: 100%;
}

.List__AddCardOrListButton {
  margin-top: 10px;
  width: calc(100% / 2);
}

//UTILITIES

.input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.display_flex {
  display: flex;
}

.display__flex__between {
  display: flex;
  justify-content: space-between;
}

.align__items__center {
  align-items: center;
}


