@import "./colors.scss";



// List Parts//

.List__Container {
  min-width: 300px;
  max-width: 33%;
}

.List {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: $Syncrona-white;
}

.List__Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.List__Tittle--Text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.List__Card {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.List__AddCard {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
}

.List__NewCard {
  
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
  width: 90%;
}

.List__AddCard > div {
  width: 100%;
  height: 100%;
}

.List__AddCardOrListButton {
  margin-top: 10px;
  width: calc(100% / 2);
}

//UTILITIES

.syncrona-white {
  background: $Syncrona-white;
}

.input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.display_flex {
  display: flex;
}

.display__flex__between {
  display: flex;
  justify-content: space-between;
}

.align__items__center {
  align-items: center;
}

.margin__bottom__auto {
  margin-bottom: auto;
}

.shadow__effect {
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;
}

.width__border__box {
  width: 100%;
  box-sizing: border-box;
}

.padding__0 {
  padding: 0px;
}