@import "../../scss/colors.scss";

.overflow__landing_page {
    overflow: auto;
}

.bg__gradient {
  background: linear-gradient(
    170deg,
    rgba(249, 192, 108, 1) 30%,
    rgba(234, 123, 172, 1) 100%,
  );
  padding: 4rem;
    height: 100%;
}

.bg__regular {
    background: $Syncrona-white;
    padding: 4rem;
    overflow: auto;
    height: 100%;
  }

.landing__header__white_panel {
    background-color: rgba(255, 255, 255, 0.3);
    height: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    margin-left:8rem;
    margin-right:8rem;
    align-self: center;
}

.landing__header_text_distribution {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 2.25rem;
    padding-left: 4rem;
    width: 50%;
}

.landing__header_wrapper_distribution{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

.landing__header_button {
    border-color: $Syncrona-pink-dark;
    background-color: $Syncrona-pink;
    color: $Syncrona-white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-family: Livvic;
    font-weight: 500;
    line-height: normal;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
}

.landing__input__title {
    font-family: Livvic;
    font-size: 2.25rem;
    color: $Syncrona-black-darker;
    font-weight: bold;
  }

  .landing__input__secondary_text {
    font-family: Livvic;
    font-size: 1.5rem;
    color: $Syncrona-black-darker;
    font-weight: semi-bold;
  }

  .landing__input__paragraph{
    font-family: Livvic;
    font-size: 1rem;
    color: $Syncrona-black-darker;
    font-weight: normal;
  }

  .landing_subtitle_pink {
    font-size: 2.25rem;
    font-family: Livvic;
    font-weight: bold;
    color: $Syncrona-pink;
    line-height: 1.5rem;
  }

  .landing__smaller_subtitle_pink {
    font-size: 1.875rem;
    font-family: Livvic;
    font-weight: bold;
    line-height: 2.25rem;
    color: $Syncrona-pink;
  }
  
  .landing__wrapper_centered {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
  }

  .landing__image_wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .landing__image_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12rem;
    margin-right: 12rem;
    margin-left: 12rem;
    margin-bottom: 8rem;
  }

  //footer
  .footer__gradient {
    background: linear-gradient(
      170deg,
      rgba(249, 192, 108, 1) 30%,
      rgba(234, 123, 172, 1) 100%,
    );
    padding-right: 4rem;
    padding-left: 4rem;
    height: 100%;
  }

  .footer__base_wrapper{
    display:flex;
    flex-direction: row;
    align-content: center;
  }

  .footer__flexbox_wrapper{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
    
  }

  .footer__icon_wrapper {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
  }

  .footer__wrapper_centered{
    font-family: Livvic;
    font-size: 0.75rem;
    display: inline-flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-content: baseline;
    padding: auto;
    gap: 2rem;
    
  }

  div .footer__wrapper_centered {
    border-bottom: 0.1rem $Syncrona-white;
    border-bottom-color: $Syncrona-white;
  }

  .footer__icon {
    height: 15px;
    fill:$Syncrona-white;
    margin: 10px;
  }